<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>HARDWARIO Monitor</Name>
    <Version>1.0.0</Version>
    <Title>HARDWARIO Monitor Installer</Title>
    <Publisher>HARDWARIO s.r.o.</Publisher>
    <StartMenuDir>HARDWARIO Monitor</StartMenuDir>
    <TargetDir>@ApplicationsDir@/HARDWARIO Monitor</TargetDir>
    <WizardStyle>Modern</WizardStyle>
    <InstallerApplicationIcon>iconInstaller</InstallerApplicationIcon>
    <ProductUrl>https://www.hardwario.com</ProductUrl>
    <Logo>logo.svg</Logo>
    <WizardShowPageList>false</WizardShowPageList>
    <MaintenanceToolName>Uninstall</MaintenanceToolName>
</Installer>
